* {
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 16px;
	min-height: 0;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0.8);
	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
}


#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #ffffff;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}


#clock,
#cpu,
#memory,
#network,
#language,
#bluetooth,
#pulseaudio {
	min-width: 12px;
	margin: 0 7.5px;
}

#tray {
	margin-right: 16px;
}
